In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [203]:
#Loop through csvs and append to df
years = ["2015", "2016", "2017", "2018", "2019", "2020"]
df = pd.DataFrame()
for year in years:
    temp = pd.read_csv(f"../Resources/FY_{year}_Dallas_Animal_Shelter_Data.csv")
    df = df.append(temp, ignore_index = True)

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211216 entries, 0 to 211215
Data columns (total 34 columns):
Activity Number           88665 non-null object
Activity Sequence         211216 non-null int64
Additional Information    103130 non-null object
Animal Breed              211215 non-null object
Animal Id                 211216 non-null object
Animal Origin             207986 non-null object
Animal Type               211215 non-null object
Census Tract              202431 non-null object
Chip Status               208083 non-null object
Council District          202431 non-null object
Due Out                   211216 non-null object
Hold Request              118748 non-null object
Impound Number            211216 non-null object
Intake Condition          211216 non-null object
Intake Date               211216 non-null object
Intake Subtype            206683 non-null object
Intake Time               211216 non-null object
Intake Total              176397 non-null float64
Intake Type               211216 non-null object
Kennel Number             211216 non-null object
Kennel Status             211216 non-null object
Month                     211216 non-null object
Outcome Condition         204342 non-null object
Outcome Date              210594 non-null object
Outcome Subtype           113647 non-null object
Outcome Time              211216 non-null object
Outcome Type              211216 non-null object
Reason                    79876 non-null object
Receipt Number            85771 non-null object
Service Request Number    9671 non-null object
Source Id                 211216 non-null object
Staff Id                  211216 non-null object
Tag Type                  2 non-null object
Year                      211216 non-null object
dtypes: float64(1), int64(1), object(32)
memory usage: 54.8+ MB

In [204]:
df.head()

,Activity Number,Activity Sequence,Additional Information,Animal Breed,Animal Id,Animal Origin,Animal Type,Census Tract,Chip Status,Council District,Due Out,Hold Request,Impound Number,Intake Condition,Intake Date,Intake Subtype,Intake Time,Intake Total,Intake Type,Kennel Number,Kennel Status,Month,Outcome Condition,Outcome Date,Outcome Subtype,Outcome Time,Outcome Type,Reason,Receipt Number,Service Request Number,Source Id,Staff Id,Tag Type,Year
0,NaN,1,ADOPTED,DOMESTIC SH,A0000575,OVER THE COUNTER,CAT,W,SCAN NO CHIP,W,10/06/2014 12:00:00 AM,ADOPTION,K14-297573,TREATABLE REHABILITABLE NON-CONTAGIOUS,10/02/2014 12:00:00 AM,CONFINED,12/31/1899 11:56:00 AM,1.0,STRAY,AC 035,UNAVAILABLE,OCT.2014,TREATABLE REHABILITABLE NON-CONTAGIOUS,10/12/2014 12:00:00 AM,NaN,12/31/1899 03:25:00 PM,ADOPTION,NaN,R14-372380,NaN,P0671044,SN,NaN,FY2015
1,NaN,1,NaN,LABRADOR RETR,A0008962,FIELD,DOG,75218,SCAN NO CHIP,18,10/03/2015 12:00:00 AM,NaN,K15-328347,TREATABLE REHABILITABLE NON-CONTAGIOUS,09/24/2015 12:00:00 AM,KEEP SAFE,12/31/1899 03:50:00 PM,1.0,CONFISCATED,LFD 088,LAB,SEP.2015,TREATABLE MANAGEABLE NON-CONTAGIOUS,10/04/2015 12:00:00 AM,NaN,12/31/1899 12:22:00 PM,EUTHANIZED,NaN,NaN,442631,P0053980,MB,NaN,FY2015
2,NaN,1,NaN,GERM SHEPHERD,A0121376,FIELD,DOG,39A,SCAN CHIP,9A,05/02/2015 12:00:00 AM,NaN,K15-314218,TREATABLE MANAGEABLE NON-CONTAGIOUS,05/01/2015 12:00:00 AM,CONFINED,12/31/1899 12:09:00 PM,1.0,STRAY,LFD 042,LAB,MAY.2015,TREATABLE MANAGEABLE NON-CONTAGIOUS,05/03/2015 12:00:00 AM,NaN,12/31/1899 11:53:00 AM,EUTHANIZED,NaN,NaN,NaN,P0661191,MB,NaN,FY2015
3,NaN,1,VOMIT 5X 9/20,DOMESTIC SH,A0129114,OVER THE COUNTER,CAT,75243,SCAN CHIP,43,09/22/2015 12:00:00 AM,EVERYDAY ADOPTION CENTER,K15-327996,TREATABLE REHABILITABLE NON-CONTAGIOUS,09/19/2015 12:00:00 AM,GENERAL,12/31/1899 04:46:00 PM,1.0,OWNER SURRENDER,PSCAT 11,UNAVAILABLE,SEP.2015,TREATABLE REHABILITABLE NON-CONTAGIOUS,10/26/2015 12:00:00 AM,NaN,12/31/1899 02:09:00 PM,ADOPTION,ALLERGIC,R15-425259,NaN,P0055049,CBM/JS,NaN,FY2015
4,NaN,1,NaN,ROTTWEILER,A0157434,FIELD,DOG,38G,SCAN NO CHIP,8G,12/03/2014 12:00:00 AM,NaN,K14-302641,UNHEALTHY UNTREATABLE NON-CONTAGIOUS,12/03/2014 12:00:00 AM,- DEAD ON ARRIVAL,12/31/1899 08:06:00 PM,1.0,OWNER SURRENDER,FREEZER,UNAVAILABLE,DEC.2014,UNHEALTHY UNTREATABLE NON-CONTAGIOUS,12/04/2014 12:00:00 AM,NaN,12/31/1899 12:00:00 PM,DEAD ON ARRIVAL,NaN,NaN,NaN,P0093154,DD,NaN,FY2015

In [205]:
#Create df with useful columns

clean_df = df[['Animal Id', 'Animal Type', 'Animal Breed', 'Animal Origin', 'Census Tract',
              'Council District', 'Chip Status', 'Intake Date', 'Outcome Date',
              'Intake Condition', 'Outcome Condition', 'Reason', 'Outcome Type', 'Additional Information']]
clean_df.head()

,Animal Id,Animal Type,Animal Breed,Animal Origin,Census Tract,Council District,Chip Status,Intake Date,Outcome Date,Intake Condition,Outcome Condition,Reason,Outcome Type,Additional Information
0,A0000575,CAT,DOMESTIC SH,OVER THE COUNTER,W,W,SCAN NO CHIP,10/02/2014 12:00:00 AM,10/12/2014 12:00:00 AM,TREATABLE REHABILITABLE NON-CONTAGIOUS,TREATABLE REHABILITABLE NON-CONTAGIOUS,NaN,ADOPTION,ADOPTED
1,A0008962,DOG,LABRADOR RETR,FIELD,75218,18,SCAN NO CHIP,09/24/2015 12:00:00 AM,10/04/2015 12:00:00 AM,TREATABLE REHABILITABLE NON-CONTAGIOUS,TREATABLE MANAGEABLE NON-CONTAGIOUS,NaN,EUTHANIZED,NaN
2,A0121376,DOG,GERM SHEPHERD,FIELD,39A,9A,SCAN CHIP,05/01/2015 12:00:00 AM,05/03/2015 12:00:00 AM,TREATABLE MANAGEABLE NON-CONTAGIOUS,TREATABLE MANAGEABLE NON-CONTAGIOUS,NaN,EUTHANIZED,NaN
3,A0129114,CAT,DOMESTIC SH,OVER THE COUNTER,75243,43,SCAN CHIP,09/19/2015 12:00:00 AM,10/26/2015 12:00:00 AM,TREATABLE REHABILITABLE NON-CONTAGIOUS,TREATABLE REHABILITABLE NON-CONTAGIOUS,ALLERGIC,ADOPTION,VOMIT 5X 9/20
4,A0157434,DOG,ROTTWEILER,FIELD,38G,8G,SCAN NO CHIP,12/03/2014 12:00:00 AM,12/04/2014 12:00:00 AM,UNHEALTHY UNTREATABLE NON-CONTAGIOUS,UNHEALTHY UNTREATABLE NON-CONTAGIOUS,NaN,DEAD ON ARRIVAL,NaN

In [101]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211216 entries, 0 to 211215
Data columns (total 14 columns):
Animal Id                 211216 non-null object
Animal Type               211215 non-null object
Animal Breed              211215 non-null object
Animal Origin             207986 non-null object
Census Tract              202431 non-null object
Council District          202431 non-null object
Chip Status               208083 non-null object
Intake Date               211216 non-null object
Outcome Date              210594 non-null object
Intake Condition          211216 non-null object
Outcome Condition         204342 non-null object
Reason                    79876 non-null object
Outcome Type              211216 non-null object
Additional Information    103130 non-null object
dtypes: object(14)
memory usage: 22.6+ MB

In [206]:
#Change obj to datetime
clean_df['Intake Date'] = pd.to_datetime(clean_df['Intake Date'])
clean_df['Outcome Date'] = pd.to_datetime(clean_df['Outcome Date'])

C:\Users\slapp\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\slapp\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [103]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211216 entries, 0 to 211215
Data columns (total 14 columns):
Animal Id                 211216 non-null object
Animal Type               211215 non-null object
Animal Breed              211215 non-null object
Animal Origin             207986 non-null object
Census Tract              202431 non-null object
Council District          202431 non-null object
Chip Status               208083 non-null object
Intake Date               211216 non-null datetime64[ns]
Outcome Date              210594 non-null datetime64[ns]
Intake Condition          211216 non-null object
Outcome Condition         204342 non-null object
Reason                    79876 non-null object
Outcome Type              211216 non-null object
Additional Information    103130 non-null object
dtypes: datetime64[ns](2), object(12)
memory usage: 22.6+ MB

In [110]:
clean_df.head()

,Animal Id,Animal Type,Animal Breed,Animal Origin,Census Tract,Council District,Chip Status,Intake Date,Outcome Date,Intake Condition,Outcome Condition,Reason,Outcome Type,Additional Information
0,A0000575,CAT,DOMESTIC SH,OVER THE COUNTER,W,W,SCAN NO CHIP,2014-10-02,2014-10-12,TREATABLE REHABILITABLE NON-CONTAGIOUS,TREATABLE REHABILITABLE NON-CONTAGIOUS,NaN,ADOPTION,ADOPTED
1,A0008962,DOG,LABRADOR RETR,FIELD,75218,18,SCAN NO CHIP,2015-09-24,2015-10-04,TREATABLE REHABILITABLE NON-CONTAGIOUS,TREATABLE MANAGEABLE NON-CONTAGIOUS,NaN,EUTHANIZED,NaN
2,A0121376,DOG,GERM SHEPHERD,FIELD,39A,9A,SCAN CHIP,2015-05-01,2015-05-03,TREATABLE MANAGEABLE NON-CONTAGIOUS,TREATABLE MANAGEABLE NON-CONTAGIOUS,NaN,EUTHANIZED,NaN
3,A0129114,CAT,DOMESTIC SH,OVER THE COUNTER,75243,43,SCAN CHIP,2015-09-19,2015-10-26,TREATABLE REHABILITABLE NON-CONTAGIOUS,TREATABLE REHABILITABLE NON-CONTAGIOUS,ALLERGIC,ADOPTION,VOMIT 5X 9/20
4,A0157434,DOG,ROTTWEILER,FIELD,38G,8G,SCAN NO CHIP,2014-12-03,2014-12-04,UNHEALTHY UNTREATABLE NON-CONTAGIOUS,UNHEALTHY UNTREATABLE NON-CONTAGIOUS,NaN,DEAD ON ARRIVAL,NaN

In [207]:
#Calculate time between intake and outcome
Length_of_Stay = []
for x in range(0, len(clean_df)):
    Length_of_Stay.append(clean_df['Outcome Date'][x] - clean_df['Intake Date'][x])

In [180]:
type(Length_of_Stay)

list

In [179]:
len(Length_of_Stay)

211216

In [208]:
clean_df['Length of Stay'] = Length_of_Stay
clean_df.head()

C:\Users\slapp\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Animal Id,Animal Type,Animal Breed,Animal Origin,Census Tract,Council District,Chip Status,Intake Date,Outcome Date,Intake Condition,Outcome Condition,Reason,Outcome Type,Additional Information,Length of Stay
0,A0000575,CAT,DOMESTIC SH,OVER THE COUNTER,W,W,SCAN NO CHIP,2014-10-02,2014-10-12,TREATABLE REHABILITABLE NON-CONTAGIOUS,TREATABLE REHABILITABLE NON-CONTAGIOUS,NaN,ADOPTION,ADOPTED,10 days
1,A0008962,DOG,LABRADOR RETR,FIELD,75218,18,SCAN NO CHIP,2015-09-24,2015-10-04,TREATABLE REHABILITABLE NON-CONTAGIOUS,TREATABLE MANAGEABLE NON-CONTAGIOUS,NaN,EUTHANIZED,NaN,10 days
2,A0121376,DOG,GERM SHEPHERD,FIELD,39A,9A,SCAN CHIP,2015-05-01,2015-05-03,TREATABLE MANAGEABLE NON-CONTAGIOUS,TREATABLE MANAGEABLE NON-CONTAGIOUS,NaN,EUTHANIZED,NaN,2 days
3,A0129114,CAT,DOMESTIC SH,OVER THE COUNTER,75243,43,SCAN CHIP,2015-09-19,2015-10-26,TREATABLE REHABILITABLE NON-CONTAGIOUS,TREATABLE REHABILITABLE NON-CONTAGIOUS,ALLERGIC,ADOPTION,VOMIT 5X 9/20,37 days
4,A0157434,DOG,ROTTWEILER,FIELD,38G,8G,SCAN NO CHIP,2014-12-03,2014-12-04,UNHEALTHY UNTREATABLE NON-CONTAGIOUS,UNHEALTHY UNTREATABLE NON-CONTAGIOUS,NaN,DEAD ON ARRIVAL,NaN,1 days

In [209]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211216 entries, 0 to 211215
Data columns (total 15 columns):
Animal Id                 211216 non-null object
Animal Type               211215 non-null object
Animal Breed              211215 non-null object
Animal Origin             207986 non-null object
Census Tract              202431 non-null object
Council District          202431 non-null object
Chip Status               208083 non-null object
Intake Date               211216 non-null datetime64[ns]
Outcome Date              210594 non-null datetime64[ns]
Intake Condition          211216 non-null object
Outcome Condition         204342 non-null object
Reason                    79876 non-null object
Outcome Type              211216 non-null object
Additional Information    103130 non-null object
Length of Stay            210594 non-null timedelta64[ns]
dtypes: datetime64[ns](2), object(12), timedelta64[ns](1)
memory usage: 24.2+ MB

In [188]:
quartiles = clean_df['Length of Stay'].quantile([.25,.5,.75])
lowerq = 0
upperq = 8
iqr = upperq-lowerq

print(f"The lower quartile of temperatures is: {lowerq}")
print(f"The upper quartile of temperatures is: {upperq}")
print(f"The interquartile range of temperatures is: {iqr}")
print(f"The the median of temperatures is: {quartiles[0.5]} ")

lower_bound = lowerq - (1.5*iqr)
upper_bound = upperq + (1.5*iqr)
print(f"Values below {lower_bound} could be outliers.")
print(f"Values above {upper_bound} could be outliers.")

The lower quartile of temperatures is: 0
The upper quartile of temperatures is: 8
The interquartile range of temperatures is: 8
The the median of temperatures is: 345600000000000
Values below -12.0 could be outliers.
Values above 20.0 could be outliers.

In [117]:
clean_df.describe()

                Length of Stay
count                   210594
mean    6 days 22:52:06.858315
std    12 days 05:34:58.383025
min            0 days 00:00:00
25%            0 days 00:00:00
50%            4 days 00:00:00
75%            8 days 00:00:00
max          663 days 00:00:00

In [210]:
clean_df = clean_df.loc[clean_df['Length of Stay'] < "60 days"]

In [211]:
clean_df.describe()

               Length of Stay
count                  209103
mean   6 days 07:23:02.390496
std    8 days 14:06:30.238256
min           0 days 00:00:00
25%           0 days 00:00:00
50%           4 days 00:00:00
75%           8 days 00:00:00
max          59 days 00:00:00

In [214]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 209103 entries, 0 to 211215
Data columns (total 15 columns):
Animal Id                 209103 non-null object
Animal Type               209102 non-null object
Animal Breed              209102 non-null object
Animal Origin             206623 non-null object
Census Tract              201161 non-null object
Council District          201161 non-null object
Chip Status               206714 non-null object
Intake Date               209103 non-null datetime64[ns]
Outcome Date              209103 non-null datetime64[ns]
Intake Condition          209103 non-null object
Outcome Condition         203540 non-null object
Reason                    79406 non-null object
Outcome Type              209103 non-null object
Additional Information    102684 non-null object
Length of Stay            209103 non-null timedelta64[ns]
dtypes: datetime64[ns](2), object(12), timedelta64[ns](1)
memory usage: 25.5+ MB

In [228]:
cleaner_df = clean_df[clean_df['Intake Condition'] != "DEAD"]
cleaner_df = cleaner_df[cleaner_df['Intake Condition'] != "FATAL"]
cleaner_df = cleaner_df[cleaner_df['Intake Condition'] != "DECEASED"]
cleaner_df = cleaner_df[cleaner_df['Intake Condition'] != "UNHEALTHY UNTREATABLE CONTAGIOUS"]

cleaner_df['Intake Condition'].value_counts()

TREATABLE REHABILITABLE NON-CONTAGIOUS    125162
UNHEALTHY UNTREATABLE NON-CONTAGIOUS       21364
APP WNL                                    18723
TREATABLE MANAGEABLE NON-CONTAGIOUS        17087
HEALTHY                                    11883
NORMAL                                      2389
TREATABLE REHABILITABLE CONTAGIOUS          1762
APP SICK                                    1446
APP INJ                                     1333
UNKNOWN                                     1201
UNDERAGE                                     896
TREATABLE MANAGEABLE CONTAGIOUS              725
CRITICAL                                     320
Name: Intake Condition, dtype: int64

In [234]:
cleaner_df['Outcome Type'].value_counts()

ADOPTION             65435
EUTHANIZED           43526
TRANSFER             37861
RETURNED TO OWNER    32899
FOSTER                9437
WILDLIFE              2483
TREATMENT             2462
LOST EXP              1852
DIED                  1751
FOUND REPORT          1099
FOUND EXP              540
MISSING                173
OTHER                   14
Name: Outcome Type, dtype: int64

In [233]:
cleaner_df = cleaner_df[cleaner_df['Outcome Type'] != "DEAD ON ARRIVAL"]
cleaner_df = cleaner_df[cleaner_df['Outcome Type'] != "LOST REPORT"]

In [251]:
len(cleaner_df)

199532

In [282]:
dog_df = cleaner_df.loc[cleaner_df['Animal Type'] == "DOG"]
cat_df = cleaner_df.loc[cleaner_df['Animal Type'] == "CAT"]
len(dog_df)

144334

In [257]:
dog_df['Animal Breed'].unique()

array(['LABRADOR RETR', 'GERM SHEPHERD', 'ROTTWEILER', 'CHOW CHOW',
       'AUST CATTLE DOG', 'CATAHOULA', 'AMER BULLDOG', 'PIT BULL',
       'IBIZAN HOUND', 'DACHSHUND', 'SHIH TZU', 'MIN PINSCHER',
       'CHIHUAHUA SH', 'AUST SHEPHERD', 'RAT TERRIER', 'PAPILLON',
       'POODLE MIN', 'BORDER COLLIE', 'POODLE TOY', 'BEAGLE',
       'SHEPHERD MIX', 'TERRIER MIX', 'AUST TERRIER', 'PUG', 'BOXER',
       'COCKER SPAN', 'ALASKAN HUSKY', 'DALMATIAN', 'CHIHUAHUA LH',
       'GREAT DANE', 'FLAT COAT RETR', 'BLACK MOUTH CUR', 'WELSH TERRIER',
       'GOLDEN RETR', 'BASSET HOUND', 'AMERICAN STAFF', 'POMERANIAN',
       'SIBERIAN HUSKY', 'SCHNAUZER MIN', 'MIXED', 'DOBERMAN PINSCH',
       'ENG SETTER', 'AMER ESKIMO', 'PITBULL', 'POODLE STND',
       'ANATOL SHEPHERD', 'WELSH CORGI CAR', 'YORKSHIRE TERR', 'GBGV',
       'AM PIT BULL TER', 'BELG MALINOIS', 'MASTIFF', 'OLD ENG BULLDOG',
       'COLLIE SMOOTH', 'SHEPHERD', 'CAIRN TERRIER', 'FOX TERR WIRE',
       'MALTESE', 'CHINESE SHARPEI', 'PLOTT HOUND', 'BORDER TERRIER',
       'STAFFORDSHIRE', 'LHASA APSO', 'SCOT TERRIER', 'POINTER',
       'GREAT PYRENEES', 'TOY FOX TERRIER', 'BICHON FRISE',
       'SCHNAUZER STAND', 'SHIBA INU', 'DUTCH SHEPHERD',
       'GERMAN PINSCHER', 'BULLDOG', 'BULL TERRIER', 'DACHSHUND WH',
       'AKITA', 'PARSON RUSS TER', 'SILKY TERRIER', 'WELSH CORGI PEM',
       'BRITTANY', 'FRENCH BULLDOG', 'VIZSLA', 'PHARAOH HOUND',
       'DOGUE DE BORDX', 'QUEENSLAND HEEL', 'GERM SH POINT',
       'IRISH TERRIER', 'FOX TERR SMOOTH', 'BRUSS GRIFFON',
       'RHOD RIDGEBACK', 'BLUETICK HOUND', 'ST BERNARD SMTH',
       'AIREDALE TERR', 'BOSTON TERRIER', 'MANCHESTER TERR', 'PEKINGESE',
       'BLACK/TAN HOUND', 'BULLMASTIFF', 'BERNESE MTN DOG', 'TREEING CUR',
       'COLLIE ROUGH', 'TIBETAN SPAN', 'ITAL GREYHOUND', 'DACHSHUND LH',
       'ENG BULLDOG', 'BOUV FLANDRES', 'BLOODHOUND', 'CANAAN DOG',
       'NORFOLK TERRIER', 'SHETLD SHEEPDOG', 'REDBONE HOUND',
       'WEST HIGHLAND', 'BELG SHEEPDOG', 'BASENJI', 'PRESA CANARIO',
       'PATTERDALE TERR', 'BEARDED COLLIE', 'WEIMARANER',
       'DOGO ARGENTINO', 'GREYHOUND', 'AMER FOXHOUND', 'SCHIPPERKE',
       'KEESHOND', 'CAVALIER SPAN', 'TIBETAN TERR', 'OLDENG SHEEPDOG',
       'BEDLINGTON TERR', 'TENN TR BRINDLE', 'CHINESE CRESTED',
       'DANDIE DINMONT', 'FINNISH SPITZ', 'WHIPPET', 'JAPANESE CHIN',
       'IRISH WOLFHOUND', 'CAROLINA DOG', 'SCHNAUZER GIANT',
       'TR WALKER HOUND', 'ENG COONHOUND', 'SAMOYED', 'BRIARD',
       'IRISH SETTER', 'WOLF HYBRID', 'LEONBERGER', 'CHESA BAY RETR',
       'CANE CORSO', 'AFGHAN HOUND', 'NEWFOUNDLAND', 'ENG POINTER',
       'ENG FOXHOUND', 'COYOTE HYBRID', 'NORWICH TERRIER', 'BLUE LACY',
       'AFFENPINSCHER', 'PBGV', 'AUST KELPIE', 'GERM WH POINT',
       'HAVANESE', 'WELSH SPR SPAN', 'DUTCH SHEEPDOG', 'ST BERNARD RGH',
       'SC WHEAT TERR', 'BELG LAEKENOIS', 'HARRIER', 'FEIST',
       'ENG SHEPHERD', 'GLEN OF IMAAL', 'ALASK MALAMUTE', 'BERNESE HOUND',
       'KUVASZ', 'ENG COCKER SPAN', 'SPAN WATER DOG', 'SKYE TERRIER',
       'SWED VALLHUND', 'BEAUCERON', 'BORZOI', 'JINDO', 'CURLYCOAT RETR',
       'SWISS HOUND', 'MEX HAIRLESS', 'HOVAWART', 'BULL TERR MIN',
       'GR SWISS MTN', 'LAKELAND TERR', 'COTON DE TULEAR',
       'ENG SPRNGR SPAN', 'BEAGLE MIX', 'HUSKY', 'POODLE MIX', 'COLLIE',
       'GREAT PYRENEESE', 'NEAPOLITAN MAST', 'GORDON SETTER', 'LOWCHEN',
       'NS DUCK TOLLING', 'OTTERHOUND', 'CLUMBER SPAN', 'AMER WATER SPAN',
       'BOYKIN SPAN', 'ENG TOY SPANIEL', 'PICARDY SHEEPDG',
       'MAREMMA SHEEPDG', 'SEALYHAM TERR', 'POLISH LOWLAND',
       'ALASK KLEE KAI', 'TERRIER', 'LANDSEER', 'ENTLEBUCHER',
       'PORT WATER DOG', 'TOSA', 'PUMI', 'FIELD SPANIEL',
       'KERRY BLUE TERR', 'NORW BUHUND', 'COLLIE MIX', 'BELG TERVUREN',
       'WH PT GRIFFON', 'SALUKI', 'PODENGO PEQUENO', 'CHIHUAHUA',
       'VIZSLA WH', 'BOERBOEL', 'TIBETAN MASTIFF', 'MUNSTERLANDER',
       'JACK RUSS TERR', 'AKBASH', 'RETRIEVER MIX', 'EURASIER'],
      dtype=object)

In [258]:
dog_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149971 entries, 1 to 211214
Data columns (total 15 columns):
Animal Id                 149971 non-null object
Animal Type               149971 non-null object
Animal Breed              149971 non-null object
Animal Origin             148014 non-null object
Census Tract              144571 non-null object
Council District          144571 non-null object
Chip Status               148067 non-null object
Intake Date               149971 non-null datetime64[ns]
Outcome Date              149971 non-null datetime64[ns]
Intake Condition          149971 non-null object
Outcome Condition         145437 non-null object
Reason                    55232 non-null object
Outcome Type              149971 non-null object
Additional Information    77806 non-null object
Length of Stay            149971 non-null timedelta64[ns]
dtypes: datetime64[ns](2), object(12), timedelta64[ns](1)
memory usage: 18.3+ MB

In [283]:
dog_df = dog_df[['Animal Id', 'Animal Breed',
       'Animal Origin', 'Census Tract', 'Council District', 'Chip Status',
       'Intake Date', 'Outcome Date', 'Intake Condition', 'Outcome Condition',
       'Outcome Type', 'Length of Stay']]

In [284]:
dog_df.loc[dog_df['Animal Breed'].str.contains('PIT'), 'Animal Breed'] = 'PIT BULL'
dog_df.loc[dog_df['Animal Breed'].str.contains('STAFF'), 'Animal Breed'] = 'PIT BULL'

dog_df.loc[dog_df['Animal Breed'].str.contains('TERRIER'), 'Animal Breed'] = 'TERRIER'
dog_df.loc[dog_df['Animal Breed'].str.contains('TERR'), 'Animal Breed'] = 'TERRIER'
dog_df.loc[dog_df['Animal Breed'].str.contains('TER'), 'Animal Breed'] = 'TERRIER'
dog_df.loc[dog_df['Animal Breed'].str.contains('WEST HIGH'), 'Animal Breed'] = 'TERRIER'
dog_df.loc[dog_df['Animal Breed'].str.contains('SCHNAUZER'), 'Animal Breed'] = 'TERRIER'


dog_df.loc[dog_df['Animal Breed'].str.contains('RETR'), 'Animal Breed'] = 'RETRIEVER'
dog_df.loc[dog_df['Animal Breed'].str.contains('SHEPHERD'), 'Animal Breed'] = 'SHEPHERD'
dog_df.loc[dog_df['Animal Breed'].str.contains('CORGI'), 'Animal Breed'] = 'CORGI'

dog_df.loc[dog_df['Animal Breed'].str.contains('HOUND'), 'Animal Breed'] = 'HOUND'
dog_df.loc[dog_df['Animal Breed'].str.contains('BEAGLE'), 'Animal Breed'] = 'HOUND'
dog_df.loc[dog_df['Animal Breed'].str.contains('BLACK MOUTH'), 'Animal Breed'] = 'HOUND'
dog_df.loc[dog_df['Animal Breed'].str.contains('DACHSHUND'), 'Animal Breed'] = 'HOUND'
dog_df.loc[dog_df['Animal Breed'].str.contains('RIDGEBACK'), 'Animal Breed'] = 'HOUND'

dog_df.loc[dog_df['Animal Breed'].str.contains('CHIHUAHUA'), 'Animal Breed'] = 'CHIHUAHUA'

In [285]:
dog_breeds = ['PIT BULL', 'CHIHUAHUA', 'SHEPHERD', 'RETRIEVER', 'TERRIER', 'HOUND', 'CORGI', 'PUG']
dog_df.loc[~dog_df["Animal Breed"].isin(dog_breeds), "Animal Breed"] = "OTHER"

In [286]:
dog_df['Animal Breed'].value_counts()

PIT BULL     35977
OTHER        31202
CHIHUAHUA    20662
SHEPHERD     19830
RETRIEVER    19224
TERRIER      11518
HOUND         4920
CORGI          544
PUG            457
Name: Animal Breed, dtype: int64

In [287]:
cat_df = cat_df[['Animal Id', 'Animal Breed',
       'Animal Origin', 'Census Tract', 'Council District', 'Chip Status',
       'Intake Date', 'Outcome Date', 'Intake Condition', 'Outcome Condition',
       'Outcome Type', 'Length of Stay']]

In [290]:
cat_df.loc[cat_df['Animal Breed'].str.contains('SIAMESE'), 'Animal Breed'] = 'DOMESTIC SH'
cat_df.loc[cat_df['Animal Breed'].str.contains('RUSSIAN BLUE'), 'Animal Breed'] = 'DOMESTIC SH'
cat_df.loc[cat_df['Animal Breed'].str.contains('BOMBAY'), 'Animal Breed'] = 'DOMESTIC SH'
cat_df.loc[cat_df['Animal Breed'].str.contains('SAVANNAH'), 'Animal Breed'] = 'DOMESTIC SH'
cat_df.loc[cat_df['Animal Breed'].str.contains('BURMESE'), 'Animal Breed'] = 'DOMESTIC SH'
cat_df.loc[cat_df['Animal Breed'].str.contains('HAVANA BROWN'), 'Animal Breed'] = 'DOMESTIC SH'
cat_df.loc[cat_df['Animal Breed'].str.contains('COLORPOINT'), 'Animal Breed'] = 'DOMESTIC SH'
cat_df.loc[cat_df['Animal Breed'].str.contains('KORAT'), 'Animal Breed'] = 'DOMESTIC SH'
cat_df.loc[cat_df['Animal Breed'].str.contains('JAPAN BOBTAIL'), 'Animal Breed'] = 'DOMESTIC SH'
cat_df.loc[cat_df['Animal Breed'].str.contains('TONKINESE'), 'Animal Breed'] = 'DOMESTIC SH'
cat_df.loc[cat_df['Animal Breed'].str.contains('SPHYNX'), 'Animal Breed'] = 'DOMESTIC SH'
cat_df.loc[cat_df['Animal Breed'].str.contains('TONKINESE'), 'Animal Breed'] = 'DOMESTIC SH'
cat_df.loc[cat_df['Animal Breed'].str.contains('CORNISH REX'), 'Animal Breed'] = 'DOMESTIC SH'
cat_df.loc[cat_df['Animal Breed'].str.contains('OCICAT'), 'Animal Breed'] = 'DOMESTIC SH'
cat_df.loc[cat_df['Animal Breed'].str.contains('TONKINESE'), 'Animal Breed'] = 'DOMESTIC SH'
cat_df.loc[cat_df['Animal Breed'].str.contains('EGYPTIAN MAU'), 'Animal Breed'] = 'DOMESTIC SH'
cat_df.loc[cat_df['Animal Breed'].str.contains('SH'), 'Animal Breed'] = 'DOMESTIC SH'


cat_df.loc[cat_df['Animal Breed'].str.contains('ABYSSINIAN'), 'Animal Breed'] = 'DOMESTIC MH'
cat_df.loc[cat_df['Animal Breed'].str.contains('CHARTREUX'), 'Animal Breed'] = 'DOMESTIC MH'
cat_df.loc[cat_df['Animal Breed'].str.contains('BENGAL'), 'Animal Breed'] = 'DOMESTIC MH'
cat_df.loc[cat_df['Animal Breed'].str.contains('RAGDOLL'), 'Animal Breed'] = 'DOMESTIC MH'
cat_df.loc[cat_df['Animal Breed'].str.contains('BALINESE'), 'Animal Breed'] = 'DOMESTIC MH'
cat_df.loc[cat_df['Animal Breed'].str.contains('MANX'), 'Animal Breed'] = 'DOMESTIC MH'
cat_df.loc[cat_df['Animal Breed'].str.contains('SCOTTISH FOLD'), 'Animal Breed'] = 'DOMESTIC MH'
cat_df.loc[cat_df['Animal Breed'].str.contains('SNOWSHOE'), 'Animal Breed'] = 'DOMESTIC MH'
cat_df.loc[cat_df['Animal Breed'].str.contains('AMER WIREHAIR'), 'Animal Breed'] = 'DOMESTIC MH'
cat_df.loc[cat_df['Animal Breed'].str.contains('SOMALI'), 'Animal Breed'] = 'DOMESTIC MH'
cat_df.loc[cat_df['Animal Breed'].str.contains('MH'), 'Animal Breed'] = 'DOMESTIC MH'

cat_df.loc[cat_df['Animal Breed'].str.contains('HIMALAYAN'), 'Animal Breed'] = 'DOMESTIC LH'
cat_df.loc[cat_df['Animal Breed'].str.contains('MAINE COON'), 'Animal Breed'] = 'DOMESTIC LH'
cat_df.loc[cat_df['Animal Breed'].str.contains('PERSIAN'), 'Animal Breed'] = 'DOMESTIC LH'
cat_df.loc[cat_df['Animal Breed'].str.contains('NORWGN FOREST'), 'Animal Breed'] = 'DOMESTIC LH'
cat_df.loc[cat_df['Animal Breed'].str.contains('ANGORA'), 'Animal Breed'] = 'DOMESTIC LH'
cat_df.loc[cat_df['Animal Breed'].str.contains('TURKISH VAN'), 'Animal Breed'] = 'DOMESTIC LH'
cat_df.loc[cat_df['Animal Breed'].str.contains('BIRMAN'), 'Animal Breed'] = 'DOMESTIC LH'
cat_df.loc[cat_df['Animal Breed'].str.contains('LH'), 'Animal Breed'] = 'DOMESTIC LH'

In [291]:
cat_df['Animal Breed'].value_counts()

DOMESTIC SH    43452
DOMESTIC MH     3251
DOMESTIC LH     1015
Name: Animal Breed, dtype: int64

In [292]:
cat_df

,Animal Id,Animal Breed,Animal Origin,Census Tract,Council District,Chip Status,Intake Date,Outcome Date,Intake Condition,Outcome Condition,Outcome Type,Length of Stay
0,A0000575,DOMESTIC SH,OVER THE COUNTER,W,W,SCAN NO CHIP,2014-10-02,2014-10-12,TREATABLE REHABILITABLE NON-CONTAGIOUS,TREATABLE REHABILITABLE NON-CONTAGIOUS,ADOPTION,10 days
3,A0129114,DOMESTIC SH,OVER THE COUNTER,75243,43,SCAN CHIP,2015-09-19,2015-10-26,TREATABLE REHABILITABLE NON-CONTAGIOUS,TREATABLE REHABILITABLE NON-CONTAGIOUS,ADOPTION,37 days
14,A0257917,DOMESTIC LH,OVER THE COUNTER,75227,27,SCAN NO CHIP,2015-09-11,2015-09-11,UNHEALTHY UNTREATABLE NON-CONTAGIOUS,UNHEALTHY UNTREATABLE NON-CONTAGIOUS,EUTHANIZED,0 days
35,A0517849,DOMESTIC SH,OVER THE COUNTER,W,W,SCAN CHIP,2014-12-01,2014-12-11,HEALTHY,HEALTHY,ADOPTION,10 days
70,A0512937,DOMESTIC SH,OVER THE COUNTER,W,W,SCAN NO CHIP,2014-10-04,2014-11-29,TREATABLE REHABILITABLE NON-CONTAGIOUS,TREATABLE REHABILITABLE NON-CONTAGIOUS,TRANSFER,56 days
...,...,...,...,...,...,...,...,...,...,...,...,...
211186,A1106496,DOMESTIC MH,FIELD,004500,1,UNABLE TO SCAN,2020-08-28,2020-08-28,APP INJ,APP WNL,RETURNED TO OWNER,0 days
211190,A1105216,DOMESTIC SH,OVER THE COUNTER,006200,1,SCAN NO CHIP,2020-07-30,2020-08-02,APP WNL,UNDERAGE,FOSTER,3 days
211208,A1106374,DOMESTIC SH,FIELD,014001,6,SCAN NO CHIP,2020-08-26,2020-08-28,APP WNL,APP WNL,RETURNED TO OWNER,2 days
211210,A1103587,DOMESTIC SH,FIELD,011900,5,SCAN NO CHIP,2020-06-27,2020-06-29,UNDERAGE,UNDERAGE,FOSTER,2 days
211215,A1106428,DOMESTIC SH,FIELD,00000,0,SCAN NO CHIP,2020-08-26,2020-08-28,APP WNL,APP WNL,RETURNED TO OWNER,2 days

In [293]:
cleaner_df.to_csv('../Resources/combined_shelter_data.csv')
cat_df.to_csv('../Resources/cat.csv')
dog_df.to_csv('../Resources/dog.csv')